<div class='new-library-div'>
  <%= form_for @library, :html => { :class => "new-library-form" } do |f| %>
    <div>
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div>
      <%= f.text_field :location, placeholder: "Location" %>
    </div>
    <div>
      <%= f.text_field :image, placeholder: "Image URL" %>
    </div>
    <%= f.submit "OK" %>
  <% end %>
</div>
