<div class='new-library-div'>
  <%= form_for @library, :html => { :class => "new-library-form" } do |f| %>
    <div>
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div>
      <%= f.number_field :floor_count, placeholder: "Floor Count" %>
    </div>
    <div>
      <%= f.number_field :floor_area, placeholder: "Floor Area" %>
    </div>
    <%= f.submit "OK" %>
  <% end %>
</div>
