<div class='library-show-div'>
  <%= image_tag("#{@library.image}") %><br>
  <ul class='lib-show-list'>
    <li><%= link_to "#{@library.name}", @library.website, { :class=>"lib-show-links" } %></li><br>
    <li><%= @library.location %></li><br>
    <li><%= link_to "Edit", edit_library_path, { :class=>"lib-show-links" } %></li>
    <li><%= link_to "Back", libraries_path, { :class=>"lib-show-links" } %></li>

    <% if logged_in? %>
      <% if @library.member?(current_user) %>
        <li><%= button_to "Delete", @library, method: :delete %></li>
      <% else %>
        <li><%= button_to "Join", library_users_path(@library) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
