<%= link_to "Back", libraries_path %>
<%= link_to "Edit", edit_library_path %>
<h3><%= @library.name %></h3>
<%= image_tag("#{@library.image}") %>
<h3><%= @library.location %></h3>
  <% if current_user %>
    <%= button_to "Join", library_users_path(@library) %>
  <% end %>
